<!--<nav>-->
<!--    <ul>-->
<!--        <li><a href="{% url 'shopapp:AllProductCat' %}"></a></li>
<!--        {% for cat in links %}-->
<!--        <li><a href="{{ cat.get_url }}">{{cat}}</a></li>-->
<!--        {% endfor %}-->
<!--        <li>your cart()</li>-->
<!--    </ul>-->
<!--</nav>-->

<nav class="navbar navbar-expand-lg bg-body-tertiary my-2">
  <div class="container-fluid">

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item {% if 'shopapp' in request.path %} active {% endif %}">
          <a class="nav-link " aria-current="page" href="{% url 'shopapp:AllProductCat' %}">Home</a>
        </li>
        <li class="nav-item dropdown {% if 'shopapp' in request.path %} active {% endif %}">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Categories
          </a>
          <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'shopapp:AllProductCat' %}">All Products</a></li>

            {% for cat in links %}
            <li><a class="dropdown-item" href="{{ cat.get_url }}">{{cat}}</a></li>
            {% endfor %}
          </ul>
        </li>
        <li class="nav-item {% if 'shopapp' in request.path %} active {% endif %}">
            <a class="nav-link " aria-current="page" href="{% url 'cart:cart_detail' %}"><i class="fa fa-shopping-cart fa-1x" >Your Cart</i>({{item_count}})</a>
        </li>
      </ul>
      <form class="d-flex" role="search" method="get" action="{% url 'search_app:serch_results' %}">
        {% csrf_token %}
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="q">
        <button class="btn btn-outline-success" type="submit">
            <i class="fa fa-search custom_icon fa-1x"></i>
        </button>
      </form>

    </div>
  </div>
</nav>
